<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="./css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic" rel="stylesheet" />
</head>
<body>
    <div class="top-banner">
        новая коллекция елены выжановой
    </div>
   <header class="header">
        <div class="header_container">
            <div class="header_logo">
                <img src="images/logo.png" alt="Elena Vyazhanova" class="logo-image">
            </div>

        </div>
    </header>
    <main></main>
    <footer></footer>
</body>
</html>